<nav>
  <ul class="pagination">
    <li class="page-item" [appClass]="{ disabled: currentPage === 0 }">
      <a class="page-link" (click)="currentPage = currentPage - 1">Previous</a>
    </li>
    <ng-container *appTimes="images.length; let i = index">
      <li
        class="page-item"
        [appClass]="{ active: currentPage === i }"
        *ngIf="checkWindowIndex(i)"
      >
        <a (click)="currentPage = i" class="page-link">{{ i + 1 }}</a>
      </li>
    </ng-container>
    <li
      class="page-item"
      [appClass]="{ disabled: currentPage === images.length - 1 }"
    >
      <a (click)="currentPage = currentPage + 1" class="page-link">Next</a>
    </li>
  </ul>
</nav>

<div>
  <h4>{{ images[currentPage].title }}</h4>
  <img [src]="images[currentPage].url" />
</div>
<!-- 
<div [ngSwitch]="currentPage">
  <div *ngSwitchCase="0">zero</div>
  <div *ngSwitchCase="0">one</div>
  <div *ngSwitchCase="0">two</div>
  <div *ngSwitchDefault>unknown</div>
</div> -->

<ul *appTimes="5">
  <li>Hi there</li>
</ul>
